{% extends 'base.html' %}

{% block title %}
    杂谈  - Bluebolo
{% endblock %}

{% block css_js %}
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/2.1.3/marked.min.js"></script>
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
    <link href='{{ url_for('static',filename='css/article.css') }}' rel="stylesheet">
    <link href='{{ url_for('static',filename='css/article-post.css') }}' rel="stylesheet">
    <link href='{{ url_for('static',filename='css/markdown-style.css') }}' rel="stylesheet">
    <link href='{{ url_for('static',filename='css/normal.css') }}' rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="hd logodiv">
        <img src="" class="logopng">
        <p class="logot">
            <span class="logo_1">&lt;</span>
            <span class="logo_2">/</span>
            <span class="logo_3">#</span>
            <a class="site-name ruby-title" href="/" title="Index">
                <ruby>
                    Bluebolo
                </ruby>
            </a>
            <span class="logo_3">#</span>
            <span class="logo_2">/</span>
            <span class="logo_1">&gt;</span>
        </p>
    </div>
    <div class="hd">
        <ol class="breadcrumb">
            <li><a class="ba" href="/archives" style="">归档</a></li>
            <li><a class="ba" href="/links" style="">友链</a></li>
            <li><a class="ba" href="/about" style="">关于</a></li>
            <li><a class="ba" href="/read" style="">杂谈</a></li>
        </ol>
    </div>
    <div class="line"></div>
    <div class="hd index-body">
        <div class="post-content">
            <blockquote>
                Notice:
                <br>
                此页面是使用markdown文件直接渲染成html，不需要再通过web进行编辑。
                <br>
                功能上和article页面别无二致。
                <br>
            </blockquote>
        </div>

        <div id="holder"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static',filename='js/url.js') }}"></script>
    <script>
        function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
        }

        axios.get('/api/get/md').then(res => {
            console.log(res.data)
            for (let i in res.data['md']) {
                {#console.log(getLocalTime(res.data[i][1]))#}

                let html = document.createElement('div')
                let _url = '/read/' + res.data['md'][i].title
                html.innerHTML = `<a class="flink" href="/read/${res.data['md'][i].title}" style="color: #51525d;">
                <div class="list">
                    <div class="postname">
                        ${res.data['md'][i].title.substr(0, res.data['md'][i].title.lastIndexOf('.'))}
                    </div>
                    <div class="posttime">
                        ${res.data['md'][i].create_time.slice(5, 11)}
                    </div>
                </div>
            </a>`
                document.body.querySelector('#holder').appendChild(html)
            }
        })
    </script>
{% endblock %}