<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RT0G89D1C0"></script>

    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/normal.css') }}" rel="stylesheet">
</head>
<style>
    .post-content a{
        color: #66BAB7;
    }
</style>
<body>
<div class="hd posts">
    <a class="back" href="javascript:void(0);" target="_self"><i class="fa fa-reply replay-btn" aria-hidden="true"></i></a>
    <h1 class="post-title" style="text-align: center">友链</h1>
    <div class="line" style="margin: 24px auto;width: 100%;"></div>
    <div class="post-content">
        <a href="https://soptq.me" target="_blank" rel="noopener">Soptq</a>
        <br>
    </div>
    <div class="line" style="margin: 24px auto;width: 100%;"></div>
</div>
<div class="footer" id="footer" style="color: #51525d;">
    <p>
        Copyright © 2021 <a class="flink" href="https://nocilol.me" style="color: #51525d;">Bluebolo</a><br>
    </p>
</div>
</body>
</html>